html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hero-section {
    height: 500px;
    overflow: hidden;
}

    .hero-section img {
        object-fit: cover;
        height: 100%;
    }

.hero-content {
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

.category-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}

    .category-card:hover {
        transform: translateY(-5px);
    }

.category-img {
    width: 100%;
    height: 180px; /* same fixed height for all */
    object-fit: cover; /* keeps aspect ratio, crops if needed */
    display: block;
}

.logo-container {
    margin-left: auto;
}

    .logo-container img {
        height: 40px;
        width: auto;
    }